doctype html
extends ./layout
include ./mixin

block latex_settings
  div.

block slides
  .slides
    | \( 
    |   \newcommand{\ord}[1]{\mathcal{O}\left(#1\right)}
    |   \newcommand{\abs}[1]{\lvert #1 \rvert}
    |   \newcommand{\floor}[1]{\lfloor #1 \rfloor}
    |   \newcommand{\ceil}[1]{\lceil #1 \rceil}
    |   \newcommand{\opord}{\operatorname{\mathcal{O}}}
    |   \newcommand{\fail}{\operatorname{\mathcal{F}}}
    |   \newcommand{\flk}{\operatorname{\mathfrak{F}}}
    |   \newcommand{\suf}{\operatorname{\sigma}}
    |   \newcommand{\rank}{\operatorname{\mathcal{R}}}
    |   \newcommand{\sa}{\operatorname{\mathcal{SA}}}
    |   \newcommand{\hei}{\operatorname{\mathcal{H}}}
    |   \newcommand{\edps}{\operatorname{\mathcal{E}}}
    |   \newcommand{\mx}{\operatorname{\mathcal{M}}}
    |   \newcommand{\argmax}{\operatorname{arg\,max}}
    |   \newcommand{\cons}[1]{\left[ \: #1 \: \right]}
    |   \newcommand{\str}[1]{\texttt{"#1"}}
    | \)
    section
      h1 進階圖論
      p
        .small Created by Meteor

    section
      +slide(data-markdown=true).
        ## 大綱
        * 各種圖
        * 各種問題
        * 中間穿插各種題目

      +slide(data-markdown=true).
        ## 如果有時間的話
        * 線性規劃
        * 趣題選講

      +slide(data-markdown=true).
        其實就是很一般的圖論而已，  
        也沒有什麼「進階」的。 

    include graphs/main
    include problems/main
