+mdslide.
  ## 樹鍊剖分

  每個點

  在適當的條件下可以用啟發式合併，  
  不用找重心，DFS 下去合併上來就好了。
  

+mdslide

  +theorem({name: '啟發式合併'}).
    如果在合併時，每次都把其它的合併到最大的， <br/>
    複雜度是 \\( T(n) = (n \log n) g(n) \\)。
  .blackboard

  關鍵還是在合併

+mdslide
  | ### 回到原來那一題
  | 

  .blackboard

+mdslide
  +problem({name: '中位數'})
    | 你要維護兩種操作
    ul
      li
        code query i
        |  : 問第 \\( i \\) 個 set 的中位數。
      li
        code merge i j
        |  : 把第 \\( j \\) 個 set 裡的所有元素丟到 \\( i \\) 裡。

