+mdslide
  | ## 樹的子樹區間
  | 先看一個題目

  +problem({name: '學姊日談'})
    div 給你一棵樹，你要支援兩種操作 
      br
      ul
        li 
          code add v x
          | : 把一個點的權重加 
          code x
        li 
          code query v
          | : 問一個點到根上所有點的權重和

+mdslide
  p.fragment 樹鍊剖分？
  p.fragment 先觀察一下！

+mdslide
  p.fragment 重點就是如何把一棵樹壓平

+mdslide.
  ### 把樹壓平

  ```
  int time_stamp = 0;

  void dfs(int u) {
    start[u] = time_stamp;

    for (v: adj[u]) {
      dfs(v);
    }

    end[u] = ++time_stamp;
  }
  ```

+mdslide.
  ### Example
  ![](/img/latex/tree_interv.svg)
