include ../mixin

section
  +slide(data-markdown=true)
    h2 賽局理論?
    ul
      li 研究鬥爭或競爭行為的數學方法
      li 計算能夠獲得最大利益的最佳策略
      li 又稱為**博弈**論

  +slide(data-markdown=true).
    ## 如果有時間的話
    * ~~線性規劃~~
    * 趣題選講

  +slide(data-markdown=true).
    其實就是很一般的圖論而已，  
    也沒有什麼「進階」的。 

  +slide
    h2 圖論關鍵
    ul
      li.fragment 知識 - 多記結論
      li.fragment 應變 - 臨場發揮
      li.fragment 拿紙出來用力畫啊
